<form method="post">
    <div class="container">
        <form action="confirmacion.html" method="post"></form>
        <h1>Solicitud de adopción</h1>
        <div class="form-group">
            <label for="">Nombres: </label>
            <input type="text" name="nombres" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Apellido paterno</label>
            <input type="text" name="apellido_paterno" class="form-control">
            <label for="">Apellido materno</label>
            <input type="text" name="apellido_materno" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Tipo de mascota: </label>
            <select name="tipo_mascota" id="" class="form-control">
                <option value="">Perro</option>
                <option value="">Gato</option>
            </select>
        </div>
        <div>
            <label for="">Descripción</label>
            <textarea name="descripcion" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="">Telefono de contacto: </label>
            <input type="text" name="telefono" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Distrito: </label>
            <select name="distrito" id="" class="form-control">
                <option value="">Distrito A</option>
                <option value="">Distrito B</option>
                <option value="">Dsitrito C</option>
                <option value="">Distrito D</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Direccion: </label>
            <input type="text" name="direccion" class="form-control">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Enviar</button>
        </div>
    </div>
</form>